<div class="signin-popup">
    <form class="signin-popup-container">
        <div class="signin-popup-title">
            <img src="../../../assets/images/cross_icon.png" routerLink="">
        </div>
        <div class="signin-popup-inputs">
            <input type="text" placeholder="Your Name">
            <input type="email" placeholder="Your email">
            <input type="password" placeholder="Your Password">
        </div>
        <button>sign in</button>
        <div class="signin-popup-condition">
            <input type="checkbox">
            <p>By continuing, I agree to the terms & privacy policy</p>
        </div>
        <p>Don't have an account? <span>click here</span></p>
    </form>
</div>