<section class="about-section">
    <div class="content">
        <h1>About Us</h1>
        <p>
            Welcome to <strong class="strong">Foodie App</strong>! We are passionate about delivering delicious, fresh,
            and quality
            food
            right to your door. With a real-time tracking system, you can follow your order from kitchen to doorstep.
        </p>
        <p>
            At <strong class="strong">Foodie App</strong>, we believe in creating a seamless food ordering experience.
            Whether
            you're craving a gourmet
            meal
            or a quick snack, we have it all. Our mission is to serve the community with the best culinary experiences,
            anytime, anywhere.
        </p>
        <p>Join us on this journey to explore a world of flavors and enjoy your favorite dishes, freshly made just for
            you.</p>
        <a routerLink="/food-items/food-menu/0" class="cta-btn">Order Now</a>
    </div>
</section>