<div class="footer" id="footer">
    <div class="footer-content">
        <div class="footer-content-left">
            <h3>Order your food through online</h3>
            <ul>
                <li>Convenience: Order food from the comfort of your own home, 24/7</li>
                <li>Access to a wide range of cuisines and restaurants in your area</li>
                <li>Time-saving: No need to wait in lines or spend time cooking</li>
                <li>Easy payment options: Secure and multiple payment options, including cash on delivery</li>
            </ul>
            <div class="footer-social-icons">
                <img src="assets/images/facebook_icon.png" alt="facebook">
                <img src="../../../assets/images/twitter_icon.png" alt="twitter">
                <img src="../../../assets/images/linkedin_icon.png" alt="linkedin">
            </div>
        </div>
        <div class="footer-content-center">
            <h3>Compnay</h3>
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Delivery</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="footer-content-right">
            <h3>Get In Touch</h3>
            <ul>
                <li>+911234567890</li>
                <li>orderfood123</li>
            </ul>
        </div>
    </div>
    <hr />
    <p class="copyright">Copyright 2024 © OrderFood.com - All Rights Reserved</p>
</div>