<div class="navbar">

    <!-- main heading -->
    <h2 class="logo">Food Application</h2>

    <!-- nav bar li items -->
    <ul class="navbar-menu">
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li>
        <li [routerLinkActive]="'active'"><a routerLink="/foodItems/foodMenu">Menu</a></li>
        <li [routerLinkActive]="'active'"><a routerLink="">Top sellers</a></li>
        <li [routerLinkActive]="'active'"><a routerLink="">Contact us</a></li>
    </ul>

    <!-- nav bar right side icons -->
    <div class="navbar-right">
        <img src="../../../assets/images/search_icon.png" alt="">
        <div class="navbar-serach-icon">
            <img src="../../../assets/images/basket_icon.png" alt="">
            <div class="dot"></div>
        </div>
        <button>sign in</button>
    </div>
</div>