<div class="food-display" #itemInfo>
    <h2>Explore Our Menu</h2>
    <p class="explore-menu-text">Choose from a diverse menu featuring a delectable array of dishes with the finest
        ingridents and culinary
        expertise. Our mission is to satisfy your cravings and elevaate your dining experience, one delicious meal
        at a
        time.
    </p>
    <div class="food-display-list">
        <div class="food-item" *ngFor="let ele of foodListResult,; let i = index">
            <div class="food-item-image-container">
                <img [src]="ele.food_image" alt="image" class="food-item-image">
                <img src="../../../assets/images/add_icon_white.png" alt="count button" class="addButton"
                    (click)="addButtonClicked(i)" [routerLink]="['/foodItems/foodMenu', ele.id]"
                    *ngIf="!showCounter[i] && ele.food_quantity === 0">
                <div class="food-item-counter" *ngIf="showCounter[i] && ele.food_quantity > 0">
                    <img src="../../../assets/images/remove_icon_red.png" (click)="decreaseItemCount(i)">
                    <p>{{ele.food_quantity}}</p>
                    <img src="../../../assets/images/add_icon_green.png" (click)="increaseItemCount(i)">
                </div>
            </div>
            <div class="food-item-info">
                <div class="food-item-name-rating">
                    <p>{{ele.food_name}}</p>
                    <img src="../../../assets/images/rating_starts.png" alt="">
                </div>
                <p class="food-item-description">{{ele.food_description}}</p>
                <p class="food-item-price">${{ele.food_price}}</p>
            </div>
        </div>
    </div>
</div>