<div class="header">
    <div class="header-contents">
        <h4>Hey {{userName}}, {{message}}</h4>
        <h5>Order Your Favourite Food Here</h5>
        <p>Choose from a diverse menu featuring a delectable array of dishes with the finest ingridents and culinary
            expertise. Our mission is to satisfy your cravings and elevaate your dining experience, one delicious meal
            at a
            time.
        </p>
        <button routerLink="/food-items/food-menu/">View Menu</button>
    </div>
</div>

<app-explore-menu></app-explore-menu>

<app-top-dishes></app-top-dishes>