<div class="header">
    <div class="header-contents">
        <h2>Order Your Favourite Food Here</h2>
        <p>Choose from a diverse menu featuring a delectable array of dishes with the finest ingridents and culinary
            expertise. Our mission is to satisfy your cravings and elevaate your dining experience, one delicious meal
            at a
            time.
        </p>
        <button routerLink="/food-items/food-menu/">View Menu</button>
    </div>
</div>

<app-explore-menu></app-explore-menu>

<app-top-dishes></app-top-dishes>