<div class="explore-menu">

    <h1>Explore our menu</h1>

    <p class="explore-menu-text">Choose from a diverse menu featuring a delectable array of dishes with the finest
        ingridents and culinary
        expertise. Our mission is to satisfy your cravings and elevaate your dining experience, one delicious meal
        at a
        time.
    </p>

    <div class="explore-menu-list">
        <div *ngFor="let ele of menuListResult; let i = index" class="explore-menu-list-item">
            <img [src]="ele.menu_image" [ngClass]="{'customClass': selectedIndex === i}"
                (click)="setCategory(ele.menu_name); selectedIndex = i; scrollToFilteredItems()">
            <p>{{ele.menu_name}}</p>
        </div>
    </div>
    <hr />
</div>

<!-- filtered products -->
<div class="food-display" *ngIf="filteredItems">
    <h3>Hmmm....You have a good choice </h3>
    <div class="food-display-list">
        <div class="food-item" *ngFor="let ele of filteredItems">
            <div class="food-item-image-container">
                <img [src]="ele.food_image" alt="image" class="food-item-image">
            </div>
            <div class="food-item-info">
                <div class="food-item-name-rating">
                    <p>{{ele.food_name}}</p>
                    <img src="../../../assets/images/rating_starts.png" alt="">
                </div>
                <p class="food-item-description">{{ele.food_description}}</p>
                <p class="food-item-price">${{ele.food_price}}</p>
            </div>
        </div>
    </div>
    <hr />
</div>