<div class="add">
    <form class="flex-col" #AddItemInfo="ngForm">
        <div class="add-img-upload flex-col">
            <p>Upload Image</p>
            <label for="image">
                <img [src]="imagePreview || '../../../../../assets/images/upload.png'" alt="Upload Preview">
            </label>
            <input type="file" id="image" (change)="onImagePicked($event)" hidden>
        </div>

        <!-- Bind food_name input field to the model -->
        <div class="add-product-name flex-col">
            <p>Item Name</p>
            <input type="text" name="food_name" [(ngModel)]="selectedItem.food_name" placeholder="Type Here" required>
        </div>

        <!-- Bind food_description input field to the model -->
        <div class="add-item-description flex-col">
            <p>Item Description</p>
            <textarea name="food_description" [(ngModel)]="selectedItem.food_description" rows="6"
                placeholder="Write Content Here" required></textarea>
        </div>

        <div class="add-category-price">
            <div class="add-category flex-col">
                <p>Item category</p>
                <!-- Bind food_category select to the model -->
                <select name="food_category" [(ngModel)]="selectedItem.food_category" required>
                    <option value="" disabled selected>Select Category</option>
                    <option value="Salad's">Salad's</option>
                    <option value="Roll's">Roll's</option>
                    <option value="Desert's">Desert's</option>
                    <option value="Sandwich's">Sandwich's</option>
                    <option value="Cake's">Cake's</option>
                    <option value="Pasta's">Pasta's</option>
                    <option value="Pure Veg">Pure Veg</option>
                    <option value="Noodles">Noodles</option>
                </select>
            </div>

            <!-- Bind food_price input field to the model -->
            <div class="add-price flex-col">
                <p>Item Price</p>
                <input type="number" name="food_price" [(ngModel)]="selectedItem.food_price" placeholder="$20" required>
            </div>
        </div>

        <div class="add-back-buttons">
            <button type="submit" class="add-button" (click)="addItemButton(AddItemInfo)" (click)="showPopup()">Add
                Item</button>
            <button type="button" class="add-button" (click)="navigateBack()">Go Back</button>
        </div>
    </form>
</div>

<app-popup *ngIf="popupService.popup$ | async as popup"></app-popup>