.confirmation {
    justify-content: center;
    align-items: center;
}

.confirmation h2{
    margin-left: 300px;
    margin-top: 100px;
    color: #008000;
    font-weight: 100px;
}

.confirmation-details{
    margin-top: 50px;
    margin-left: 550px;
    color: tomato;
}

.confirmation button{
    border: none;
    color: white;
    background-color: tomato;
    width: max(10vw, 50px);
    padding: 12px 0px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 550px;
}

