<div class="confirmation">
    <div class="confirmation-box">
        <div class="icon-box">
            <span class="checkmark">✔</span>
        </div>
        <h2 class="title">Payment Confirmed</h2>
        <p>Your order was successfully processed.</p>

        <div class="confirmation-details">
            <h4><strong>Transaction ID:</strong> {{transactionId}}</h4>
            <h4><strong>Payment Method:</strong> {{paymentMethod}}</h4>
        </div>

        <button (click)="homePage()" class="home-btn">Go to Home</button>
    </div>
</div>